.lab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.lab-box {
    width: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.lab-box h3 {
    margin: 0 0 10px;
    font-size: 25px;
    color: #333;
}

.lab-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.lab-box a {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.lab-box a:hover {
    background-color: #369DF7;
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .lab-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .lab-container {
        grid-template-columns: repeat(1, 1fr);
    }
}